.projects-section {
  padding: 20px;
  text-align: center;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 80%;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.project-item {
  flex: 0 0 calc(100% / 3);
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.project-item:hover {
  transform: scale(1.1);
  z-index: 1;
}

.project-content {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.project-content img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.project-content p{
  color: #333;
}

.projects-section h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 300px;
}

.projects-section h3 {
  font-size: 1rem;
  color: #555;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  color: #333;
}

.arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.left-arrow {
  margin-right: 10px;
}

.right-arrow {
  margin-left: 10px;
}
