.popup-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.App {
  position: relative;
  font-family: monospace;
  min-height: 100vh;
  overflow-y: auto;
  background: linear-gradient(to right, #f5f5f5, #ffffff);
}

button {
  background-color: transparent !important;
  border: none !important;
}
